body {
    font-family: Arial;
    text-align: center;
    margin-top: 100px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
}

#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    width: 300px;
    display: none;
    border-radius: 8px;
}

#closeModal {
    float: right;
    cursor: pointer;
    font-size: 20px;
}